{% extends "base.html" %}
{% block content %}
{% include "partials/hero.html" %}
{% include "partials/bol.html" %}
{% include "partials/mif.html" %}
{% include "partials/cifry.html" %}
{% include "partials/pechat-kod.html" %}
{% include "partials/pochemu-ya.html" %}
{# Отзывы стоят прямо перед формой: человек читает чужой опыт и тут же
   видит, где оставить заявку. Блок сам себя прячет, пока в app.py не
   задан номер карточки Яндекса. #}
{% include "partials/otzyvy.html" %}
{% include "partials/zayavka.html" %}
{% endblock %}
